Midterm/NEITStoreOrdersService/TestAccount/Service References/ServiceAccount/NEITStoresOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NEITStoresOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55097/NEITStoresOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55097/NEITStoresOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55097/NEITStoresOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NEITStoreOrdersService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INEITStoresOrderService_ReturnAmountEarned_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAmountEarned" />
  </wsdl:message>
  <wsdl:message name="INEITStoresOrderService_ReturnAmountEarned_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAmountEarnedResponse" />
  </wsdl:message>
  <wsdl:message name="INEITStoresOrderService_GetBankInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankInformation" />
  </wsdl:message>
  <wsdl:message name="INEITStoresOrderService_GetBankInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="INEITStoresOrderService">
    <wsdl:operation name="ReturnAmountEarned">
      <wsdl:input wsaw:Action="http://tempuri.org/INEITStoresOrderService/ReturnAmountEarned" message="tns:INEITStoresOrderService_ReturnAmountEarned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INEITStoresOrderService/ReturnAmountEarnedResponse" message="tns:INEITStoresOrderService_ReturnAmountEarned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/INEITStoresOrderService/GetBankInformation" message="tns:INEITStoresOrderService_GetBankInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INEITStoresOrderService/GetBankInformationResponse" message="tns:INEITStoresOrderService_GetBankInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INEITStoresOrderService" type="tns:INEITStoresOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnAmountEarned">
      <soap:operation soapAction="http://tempuri.org/INEITStoresOrderService/ReturnAmountEarned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <soap:operation soapAction="http://tempuri.org/INEITStoresOrderService/GetBankInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NEITStoresOrderService">
    <wsdl:port name="BasicHttpBinding_INEITStoresOrderService" binding="tns:BasicHttpBinding_INEITStoresOrderService">
      <soap:address location="http://localhost:55097/NEITStoresOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>