Week7/JSON/JSONWebServiceInDotNet/JSONWebService/Web References/OutputEmployee/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OutputEmployeeJSON">
        <s:complexType />
      </s:element>
      <s:element name="OutputEmployeeJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OutputEmployeeJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutputEmployeeXML">
        <s:complexType />
      </s:element>
      <s:element name="OutputEmployeeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OutputEmployeeXMLResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OutputEmployeeJSONSoapIn">
    <wsdl:part name="parameters" element="tns:OutputEmployeeJSON" />
  </wsdl:message>
  <wsdl:message name="OutputEmployeeJSONSoapOut">
    <wsdl:part name="parameters" element="tns:OutputEmployeeJSONResponse" />
  </wsdl:message>
  <wsdl:message name="OutputEmployeeXMLSoapIn">
    <wsdl:part name="parameters" element="tns:OutputEmployeeXML" />
  </wsdl:message>
  <wsdl:message name="OutputEmployeeXMLSoapOut">
    <wsdl:part name="parameters" element="tns:OutputEmployeeXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="OutputEmployeeJSON">
      <wsdl:input message="tns:OutputEmployeeJSONSoapIn" />
      <wsdl:output message="tns:OutputEmployeeJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutputEmployeeXML">
      <wsdl:input message="tns:OutputEmployeeXMLSoapIn" />
      <wsdl:output message="tns:OutputEmployeeXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OutputEmployeeJSON">
      <soap:operation soapAction="http://tempuri.org/OutputEmployeeJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutputEmployeeXML">
      <soap:operation soapAction="http://tempuri.org/OutputEmployeeXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OutputEmployeeJSON">
      <soap12:operation soapAction="http://tempuri.org/OutputEmployeeJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutputEmployeeXML">
      <soap12:operation soapAction="http://tempuri.org/OutputEmployeeXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:54541/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:54541/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>